<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Example</title>
</head>
<body>
    <h1>Example</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <p>Upload</p>
        <input type="file" name="file">
        <br>
        <span>bucket:</span><input type="text" name="bucket">
        <br>
        <input type="submit" value="upload">
    </form>
    <form action="" enctype='multipart/form-data' method='POST'>
        <p>Download</p>
        <span>bucket:</span><input type="text" name="bucket">
        <br>
        <span>object name:</span><input type="text" name="fileName">
        <br>
        <input type="submit" value="download">
    </form>
</body>
</html>